<div>
  <form action="https://formspree.io/joe.laskowski79@gmail.com" method="POST">
    <ul id="contact-form">
      <li list-style-type="none">
        Name:
        <br>
        <input type="text" name="name">
      </li>
      <li>
        Email:
        <br>
        <input type="email" name="_replyto">
        <input type="hidden" name="_subject" value="message from thebiglaskowski.com">
      </li>
      <li>
        Message:
        <br>
        <textarea name="message" rows="5" cols="30"></textarea>
      </li>
      <li>
        <input type="submit" value="Send">
      </li>
    </ul>
  </form>
</div>
